# You must first activate a Billing Account here: https://platform.openai.com/account/billing/overview
# Then get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=your-api-key-here

# Respan API Key
RESPAN_API_KEY=your-api-key-here

# Respan Base URL, controls which Respan server to use
RESPAN_BASE_URL=https://api.respan.ai