python-dotenv>=1.0.0,<2.0.0
respan-tracing>=2.16.1,<3.0.0
respan-sdk>=2.7.6,<3.0.0
respan-instrumentation-openinference>=1.2.2
openinference-instrumentation>=0.1.32,<0.2.0
openinference-instrumentation-openai>=0.1.32,<0.2.0
openai>=1.78.0,<3.0.0
httpx>=0.28.1,<1.0.0
